@font-face {
  font-family: "Helvetica Regular";
  src: url("../../fonts/helvetica.woff2") format("woff2"),
    url("../../fonts/helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Bd";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold"),
    url("../../fonts/helvetica-bold.woff") format("woff");
}

* {
  max-height: 100000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 0;
  min-width: 320px;
  color: #333;
  background: #fff;
  font: 16px/24px "Helvetica Regular", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

img {
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
  color: #454545;
}

a:hover,
a:focus,
a:active {
  color: #454545;
  text-decoration: none;
}

*:focus {
  outline: none !important;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  opacity: 0;
}

input,
textarea,
select {
  font: 16px/23px "Helvetica", Arial, sans-serif;
  vertical-align: middle;
  color: #000;
  /*-webkit-appearance: none;*/
  -webkit-border-radius: 0;
  border: 0;
}

input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}

input::-ms-clear {
  display: none;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  height: 40px;
  padding: 10px 12px;
  border: none;
  width: 100%;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 0;
  border: 1px solid #f0f0f0;
}

textarea {
  -webkit-appearance: none;
  height: 143px;
  padding: 20px 24px;
  border: none;
  width: 100% !important;
  background: #fff;
  margin: 0 0 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #f0f0f0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

select:focus::-ms-value {
  color: #686967;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

:-moz-placeholder {
  color: #a8a8a8;
  opacity: 1;
}

::-moz-placeholder {
  color: #a8a8a8;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a8a8a8;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #465970;
  font-family: "Helvetica Bd", Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 30px;
  line-height: 34px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

h4 {
  font-size: 24px;
  line-height: 27px;
}

h5 {
  font-size: 20px;
  line-height: 23px;
}

h6 {
  font-size: 18px;
  line-height: 21px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #465970;
}

input[type="submit"] {
  background: #465970;
  border: none;
  font: 700 18px/20px "Helvetica", Arial, sans-serif;
  vertical-align: top;
  margin: 0;
  padding: 9px 20px;
  width: auto;
  height: 50px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 156px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

input[type="submit"]:hover {
  background: #45546f;
}

.btn.btn-primary {
  background-color: #c00;
  color: #fff;
  display: inline-block;
  font: 24px/28px "Helvetica Bd", Arial, sans-serif;
  padding: 20px 60px;
  border: 1px solid transparent;
  border-radius: 6px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  z-index: 999;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-primary.active,
.btn.btn-primary:hover {
  color: #fff;
  border-color: #a50000;
  background-color: #a50000;
}

.btn.btn-secondary {
  background-color: transparent;
  color: #333;
  display: inline-block;
  font: 24px/28px "Helvetica Bd", Arial, sans-serif;
  padding: 20px 60px;
  border: 1px solid #000;
  border-radius: 6px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  z-index: 999;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-secondary.active,
.btn.btn-secondary:hover {
  /* color: #fff; */
  border-color: #c00;
  /* border-width: 2px; */
  color: #c00;
  /* background-color: #c00; */
}

/* Info Box */
.info-box.btn-only {
  padding: 75px 0 0;
}

.info-box {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.info-box p {
  margin: 0 0 30px;
}

.btn-area .btn {
  margin: 0 8px;
  min-width: 329px;
}

body {
  overflow: hidden;
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1920px;
  max-width: 1080px;
  margin: 0 auto;
  background: #f2f2f2;
  opacity: 0;
  top: 6%;
  transition: ease-in top 0.4s, ease-in opacity 0.5s;
  /* transition: ease-in opacity 1s; */
}

#wrapper.login {
  background: #fff;
}

body.loaded:before {
  opacity: 0;
}

body.home:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  transition: 0.8s ease-in all;
}

.home #wrapper:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1080px;
  content: "";
  z-index: 999;
  background: -moz-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 4%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.16) 16%,
      rgba(0, 0, 0, 0.35) 26%,
      rgba(0, 0, 0, 0.66) 40%,
      rgba(0, 0, 0, 0.83) 48%,
      rgba(0, 0, 0, 0.93) 54%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 4%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.16) 16%,
      rgba(0, 0, 0, 0.35) 26%,
      rgba(0, 0, 0, 0.66) 40%,
      rgba(0, 0, 0, 0.83) 48%,
      rgba(0, 0, 0, 0.93) 54%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 4%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.16) 16%,
      rgba(0, 0, 0, 0.35) 26%,
      rgba(0, 0, 0, 0.66) 40%,
      rgba(0, 0, 0, 0.83) 48%,
      rgba(0, 0, 0, 0.93) 54%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}

.container {
  max-width: 1080px;
}

.container:after {
  clear: both;
  display: block;
  content: "";
}

#header {
  padding: 50px 0 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

#header .header-holder {
  padding: 0 60px;
  overflow: hidden;
}

#header .logo {
  float: left;
  max-width: 107px;
}

#header .logo img {
  display: block;
  width: 100%;
  height: auto;
}

#header .btn-exit {
  float: right;
  color: #8f8f8f;
  font-size: 18px;
  line-height: 21px;
  padding: 3px 30px;
  background: url("../../images/icon-exit.png") no-repeat 100% 50%;
}

.home #main {
  padding: 0;
}

#main {
  padding: 175px 0 140px;
}

#main>.logo {
  max-width: 203px;
  margin: 0 auto;
}

#main>.logo img {
  display: block;
  width: 100%;
  height: auto;
}

#main>h2 {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #000;
  margin: 0 0 80px;
}

.video-holder {
  position: relative;
}

.video-holder h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  font-size: 110px;
  line-height: 1;
  font-weight: 700;
  color: #8d8b8a;
  letter-spacing: -5px;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 999;
  display: block;
  border: 0;
}

.home .text-block {
  position: relative;
  z-index: 9999;
  text-align: center;
  color: #8d8b8a;
  font: 34px/41px "Helvetica Regular", Arial, sans-serif;
  padding: 90px 60px 0;
}

.home .text-block p {
  margin: 0 0 40px;
}

.home .text-block .btn-started {
  color: #fff;
  display: block;
  font: 60px/64px "Helvetica Bd", Arial, sans-serif;
  padding: 48px 30px 56px;
  background: #c00;
  border-radius: 10px;
  transition: 0.2s ease-in all;
}

.home .text-block .btn-started:hover {
  background: #a50000;
}

.title-area.frames {
  margin: 0 0 56px;
}

.title-area {
  text-align: center;
  margin: 0 0 86px;
}

.title-area.recom {
  margin: 0 0 60px;
}

.title-area .sub-title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  color: #333;
  margin: 0 0 20px;
}

.title-area h1 {
  font: 55px/60px "Helvetica Bd", Arial, sans-serif;
  color: #000;
  margin: 0;
  letter-spacing: -1px;
}

.title-area.frames h1 {
  margin: 0 0 46px;
  font-size: 32px;
  line-height: 36px;
}

.title-area.cap {
  margin: 0 0 50px;
}

.title-area.cap h1 {
  font-size: 64px;
  line-height: 68px;
  margin: 0 0 30px;
  color: #c00;
}

.title-area.cap .sub-title {
  font-size: 32px;
  line-height: 36px;
}

.title-area .btn-filter {
  font-family: "Helvetica Regular";
  background-image: url("../../images/icon-filters.png");
  background-position: 38px 50%;
  background-repeat: no-repeat;
  padding: 14px 46px 14px 86px;
  border-radius: 10px;
}

.title-area .btn-filter:hover {
  background-image: url("../../images/icon-filters-h.png");
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.steps {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.steps li {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  min-width: 300px;
}

.steps li.active .num {
  color: #fff;
  background: #c00;
}

.steps li .num {
  display: block;
  height: 54px;
  width: 54px;
  margin: 0 auto 20px;
  border-radius: 54px;
  background: #d3d3d3;
  color: #595959;
  font: 28px/54px "Helvetica Bd", Arial, sans-serif;
}

.steps li .title {
  font: 24px/30px "Helvetica Bd", Arial, sans-serif;
  display: block;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 22px;
}

.steps li p {
  /* text-shadow: 1px 0 0 #7f7f7f; */
}

.down {
  text-align: center;
  padding: 98px 0;
}

.info-area {
  font: 24px/30px "Helvetica Bd", Arial, sans-serif;
  background: #c00;
  color: #fff;
  text-align: center;
  padding: 40px 0 54px;
}

.info-area p {
  margin: 0 0 22px;
}

.info-area form {
  width: 378px;
  margin: 0 auto;
}

.info-area form input[type="text"] {
  height: 82px;
  text-align: center;
  border-radius: 10px;
  font: 32px/36px "Helvetica Bd", Arial, sans-serif;
}

.gender-area {
  margin: 0;
  padding: 86px 80px;
  list-style: none;
}

.gender-area li {
  width: 50%;
  padding: 0 10px;
  float: left;
  text-align: center;
}

.gender-area li img {
  border: 4px solid #ccc;
  margin: 0 0 20px;
}

.gender-area li .title {
  display: block;
  color: #000;
  font: 55px/60px "Helvetica Bd", Arial, sans-serif;
  letter-spacing: -2.2px;
}

/* Tabs */
ul.tab-list {
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}

ul.tab-list li {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  margin: 0 -7px 0 0;
  overflow: hidden;
}

ul.tab-list li:first-child {
  border-right: none;
  border-radius: 10px 0 0 10px;
}

ul.tab-list li:last-child {
  border-radius: 0 10px 10px 0;
}

ul.tab-list li a {
  display: block;
  color: #333;
  min-width: 176px;
  padding: 15px 0;
  transition: 0.2s ease-in all;
}

ul.tab-list li a:hover,
ul.tab-list li.active a {
  background: #333;
  color: #fff;
}

.tab-content {
  min-height: 1058px;
}

.tab-content .tab {
  display: none;
}

.tab-content .tab:first-child {
  display: block;
}

/* Product Slider */
.prod-slider.prod-list {
  transition: 0.2s ease-in all;
}

.prod-list.frames {
  padding: 0 12px 20px;
}

.prod-list {
  padding: 40px 12px 64px;
  position: relative;
  overflow: hidden;
}

.slick-slide {
  height: auto;
}

.prod-slider.prod-list .item-holder {
  padding: 0 12px;
}

.prod-list.frames .item-holder {
  padding: 0 12px 46px;
}

.prod-list .item-holder {
  padding: 0 12px 84px;
}

.prod-list .item {
  float: left;
  width: 33.333%;
}

.prod-list.frames .item {
  width: 25%;
}

.prod-list .item.dummy-item .dummy-frame {
  height: 393px;
  border: 4px solid #e1e1e1;
  position: relative;
}

.prod-list .item.dummy-item .icon-add {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/icon-star.png") no-repeat 50% 50%;
}

#try .prod-list.fav-list figure {
  border: none;
}

.prod-list.frames figure {
  height: 241px;
}

#frame .prod-list figure .img-holder,
.prod-list.frames figure .img-holder {
  padding: 0 36px;
}

.prod-list.frames .fav-active figure:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: 4px solid #e1e1e1;
  border-bottom: none;
  box-sizing: border-box;
  pointer-events: none;
}

.prod-list figure {
  margin: 0;
  border: 1px solid #e1e1e1;
  position: relative;
  height: 329px;
  display: table;
  width: 100%;
  background: #fff;
  text-align: center;
}

.prod-list figure .zoom {
  position: absolute;
  left: 8px;
  top: 8px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 39px;
  height: 39px;
  background: url("../../images/icon-zoom.png") no-repeat 50% 50%;
  background-size: 100% auto;
}

.prod-list.frames figure .zoom {
  width: 28px;
  height: 28px;
}

.prod-list figure .img-holder {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.prod-list img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.prod-list .title-box {
  text-align: center;
}

.prod-list.fav-list .title-box>.favorite-del {
  padding: 19px 25px;
  overflow: hidden;
}

.prod-list .title-box>a {
  display: block;
  padding: 10px;
  overflow: hidden;
}

.fav-list .title-box {
  background: #000;
}

.prod-list .is-fav.title-box>a {
  background: #e1e1e1;
}

.prod-list.fav-list .title {
  float: left;
  color: #ccc;
  margin: 3px 0 0;
}

.prod-list .title {
  font: 16px/20px "Helvetica Regular", Arial, sans-serif;
  color: #333;
  margin: 0 0 14px;
}

.prod-list .fav-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: url("../../images/icon-star.png") no-repeat 50% 50%;
}

.prod-list.frames .is-fav .fav-icon,
.prod-list.frames .fav-icon {
  background-size: 100% auto;
  width: 39px;
  height: 39px;
}

.prod-list .is-fav .fav-icon {
  background: url("../../images/icon-star2.png") no-repeat 50% 50%;
}

.prod-list .fav-del {
  float: right;
  width: 26px;
  height: 26px;
  background-size: 100% auto;
  background: url("../../images/icon-close2.png") no-repeat 50% 50%;
}

.prod-slider .owl-dots,
.prod-slider .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 14px;
  left: 0;
  text-align: center;
  width: 100%;
}

.prod-slider .owl-dot,
.prod-slider .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}

.prod-slider .owl-dot,
.prod-slider .slick-dots button {
  background: #bfbfbf !important;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #bfbfbf !important;
  box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
  /* margin: 0; */
  cursor: pointer;
  transition: 0.2s ease-in all;
}

.prod-slider .owl-dot.active,
.prod-slider .slick-dots .slick-active button {
  background: #4e4e4e !important;
  border-color: #000 !important;
}

/* Pagination */
.pagination {
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  text-align: center;
  font: 24px/50px "Helvetica Bd", Arial, sans-serif;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}

.pagination li a {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 49px;
  background: #d6d6d6;
  color: #737373;
  transition: ease-in all 0.2s;
}

.pagination li.active a,
.pagination li a:hover {
  background: #838383;
  color: #fff;
}

/* Popup */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 22px;
  z-index: 99999;
  display: none;
}

.popup#popup-filters {
  padding: 22px 56px;
}

.popup.popup-message {
  padding: 22px 58px;
}

#popup-timer {
  display: block;
}

#popup-timer .content-area {
  text-align: center;
}

#popup-timer .content-holder {
  padding: 20px 20px 78px;
}

#popup-timer .txt:first-of-type {
  margin: 0;
}

#popup-timer #countdown {
  margin-bottom: 20px;
}

/* .popup#popup-more {
  padding: 22px 50px;
} */

.popup .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.79);
}

.popup-content {
  position: relative;
  z-index: 9999;
  display: table;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.popup-content .content-frame {
  display: table-cell;
  vertical-align: middle;
}

.popup.popup-message .popup-content .content-holder {
  padding: 20px 20px 78px 70px;
}

.popup-content .content-holder {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 30px 90px 80px;
  background: #fff;
  text-align: center;
  pointer-events: all;
}

#popup-filters .popup-content .content-holder {
  padding: 42px 40px;
}

/* #popup-more .popup-content .content-holder {
  padding: 42px 36px;
} */

.popup#popup-filters .title-area {
  margin: 0 0 54px;
}

.popup#popup-filters .title-area h1 {
  text-align: left;
  font: 48px/52px "Helvetica Regular", Arial, sans-serif;
}

.popup-content .title-area h1 {
  color: #333;
}

.popup.popup-message .popup-content .btn-area {
  padding: 0;
  margin: 0 -8px;
}

.popup-content .btn-area {
  padding: 0 0 148px;
}

.popup#popup-filters .popup-content .btn-area {
  padding: 0 0 40px;
}

.popup-content .content-area {
  clear: both;
}

.popup#popup-filters .content-area {
  padding: 0 100px;
}

.popup-content .popup-close {
  margin: 0 auto 72px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 62px;
  height: 62px;
  background: url("../../images/icon-close.png") no-repeat 50% 50%;
}

.popup.popup-message .popup-close.align-right {
  margin: 0 0 30px;
  width: 50px;
  height: 50px;
}

.popup#popup-filters .popup-close {
  margin: 0 0 10px;
}

.popup-content .popup-close.align-right {
  margin: 0 0 90px;
  float: right;
}

.popup-content .popup-close.align-right:after {
  display: block;
  content: "";
  clear: both;
}

.popup-content .try-on-holder {
  margin: 0 0 158px;
}

.popup-content .frame-holder {
  margin: 0 0 60px;
}

.popup-content .title-box {
  margin: 0 0 34px;
}

.popup-content .title-box>a {
  display: block;
  padding: 12px;
  border: 1px solid #e1e1e1;
}

.popup-content .is-fav.title-box>a {
  background: #f2f2f2;
}

.popup-content .title {
  font: 18px/22px "Helvetica Regular", Arial, sans-serif;
  color: #333;
  margin: 0 0 14px;
}

.popup-content .fav-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: url("../../images/icon-star.png") no-repeat 50% 50%;
}

.popup-content .is-fav .fav-icon {
  background: url("../../images/icon-star2.png") no-repeat 50% 50%;
}

.popup-content .text {
  display: inline-block;
  vertical-align: middle;
  color: #ccc;
  font: 24px/44px "Helvetica Bd", Arial, sans-serif;
  text-align: center;
  padding: 8px 100px 8px 8px;
  background: url("../../images/icon-move.png") no-repeat 100% 50%;
}

.promo-box {
  height: 337px;
  border: 4px dotted #cacaca;
  text-align: center;
  position: relative;
}

.promo-box .title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-family: "Helvetica Bd";
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: #e7e7e7;
}

/* Popup Messages */
.popup.popup-message .content-area {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
}

.popup.popup-message h2 {
  color: #000;
  margin: 0 0 28px;
  font-size: 48px;
  line-height: 56px;
}

.popup.popup-message h3 {
  color: #000;
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 48px;
}

.popup.popup-message p {
  margin: 0;
}

.popup.popup-message .txt {
  margin: 0 0 60px;
}

.popup.popup-message .warn {
  color: #c00;
}

.popup.popup-message strong {
  font-family: 'Helvetica Bd';
  font-weight: 400;
}

.popup.popup-message .txt.privacy {
  font-size: 16px;
  line-height: 31px;
  padding: 60px 20px;
  margin: 0 !important;
}

#popup-iframe.popup.popup-message .popup-content .content-holder {
  padding: 36px 60px 70px;
}

/* #popup-iframe.popup.popup-message .content-area {
  padding: 0 52px;
} */


input:focus,
textarea:focus,
select:focus {
  -webkit-appearance: none;
}

#popup-iframe iframe {
  border: 1px solid #d0d2d3;
  width: 100%;
  height: 1200px;
  border-radius: 3px;
}

/* Popup Filters */
.filters-area {
  text-align: left;
  margin: 0 0 60px;
}

.filters-area .filter-holder {
  margin: 0 0 28px;
}

.filters-area .filter-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin: 0 0 26px;
}

.filters-area .filter-list {
  margin: 0 -11px;
  padding: 0;
  list-style: none;
}

.filters-area .filter-holder.color .filter-list {
  margin: 0 -22px;
}

.filters-area .filter-holder.color .filter-list li {
  padding: 0 0 22px;
}

.filters-area .filter-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px 0 0;
  padding: 0 11px 22px;
}

.filters-area .filter-holder.gender input[type="checkbox"]:checked+.filter-box {
  border: 1px solid #ececec;
  box-shadow: none;
}

.filters-area .filter-holder.color input[type="checkbox"]:checked+.filter-box {
  border: none;
  box-shadow: none;
  background: none;
}

.filters-area .filter-holder input[type="checkbox"]:checked+.filter-box {
  background: #f2f2f2;
  border-color: #d8dad9;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.36);
}

.filters-area .filter-holder.gender .filter-box {
  height: auto;
  border: none;
  padding: 0;
}

.filters-area .filter-holder.color .filter-box {
  width: 118px;
  height: auto;
  border: none;
  display: block;
  padding: 0 8px;
}

.filters-area .filter-holder.color input[type="checkbox"]:checked+.filter-box .color-holder:after {
  opacity: 1;
  visibility: visible;
}

.filters-area .filter-holder .color-holder:after {
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -9px;
  left: -9px;
  content: "";
  border: 3px solid #c00;
  border-radius: 100%;
  transition: 0.2s ease-in all;
  opacity: 0;
  visibility: hidden;
}

.filters-area .filter-holder .filter-box[data-color="black"] .color-holder {
  background: #000;
}

.filters-area .filter-holder .filter-box[data-color="brown"] .color-holder {
  background: #7d4c00;
}

.filters-area .filter-holder .filter-box[data-color="gold"] .color-holder {
  background: #c5a553;
}

.filters-area .filter-holder .filter-box[data-color="silver"] .color-holder {
  background: #818081;
}

.filters-area .filter-holder .filter-box[data-color="blue"] .color-holder {
  background: #3844e0;
}

.filters-area .filter-holder .filter-box[data-color="green"] .color-holder {
  background: #007310;
}

.filters-area .filter-holder .filter-box[data-color="red"] .color-holder {
  background: #ad0000;
}

.filters-area .filter-holder .filter-box[data-color="orange"] .color-holder {
  background: #e55600;
}

.filters-area .filter-holder .filter-box[data-color="purple"] .color-holder {
  background: #480092;
}

.filters-area .filter-holder .filter-box[data-color="pink"] .color-holder {
  background: #fa7bc9;
}

.filters-area .filter-holder .filter-box[data-color="mutiple"] .color-holder {
  background: #fef200;
  /* Old browsers */
  background: -moz-linear-gradient(top,
      #fef200 0%,
      #fdec00 2%,
      #ffc703 10%,
      #fdb400 14%,
      #ffa701 16%,
      #fd9400 20%,
      #ff6302 27%,
      #fc5c00 29%,
      #ff4d03 31%,
      #fe4600 33%,
      #fc3000 37%,
      #ff2700 39%,
      #ff1f03 41%,
      #ff0f00 45%,
      #ff0404 47%,
      #fb0102 51%,
      #f1010a 55%,
      #e00116 59%,
      #da0019 61%,
      #ce0024 63%,
      #c80025 65%,
      #9b014a 73%,
      #8a0054 76%,
      #770162 78%,
      #720066 80%,
      #68006c 82%,
      #450188 88%,
      #3b008e 90%,
      #350090 92%,
      #2a0099 94%,
      #1400ad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #fef200 0%,
      #fdec00 2%,
      #ffc703 10%,
      #fdb400 14%,
      #ffa701 16%,
      #fd9400 20%,
      #ff6302 27%,
      #fc5c00 29%,
      #ff4d03 31%,
      #fe4600 33%,
      #fc3000 37%,
      #ff2700 39%,
      #ff1f03 41%,
      #ff0f00 45%,
      #ff0404 47%,
      #fb0102 51%,
      #f1010a 55%,
      #e00116 59%,
      #da0019 61%,
      #ce0024 63%,
      #c80025 65%,
      #9b014a 73%,
      #8a0054 76%,
      #770162 78%,
      #720066 80%,
      #68006c 82%,
      #450188 88%,
      #3b008e 90%,
      #350090 92%,
      #2a0099 94%,
      #1400ad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #fef200 0%,
      #fdec00 2%,
      #ffc703 10%,
      #fdb400 14%,
      #ffa701 16%,
      #fd9400 20%,
      #ff6302 27%,
      #fc5c00 29%,
      #ff4d03 31%,
      #fe4600 33%,
      #fc3000 37%,
      #ff2700 39%,
      #ff1f03 41%,
      #ff0f00 45%,
      #ff0404 47%,
      #fb0102 51%,
      #f1010a 55%,
      #e00116 59%,
      #da0019 61%,
      #ce0024 63%,
      #c80025 65%,
      #9b014a 73%,
      #8a0054 76%,
      #770162 78%,
      #720066 80%,
      #68006c 82%,
      #450188 88%,
      #3b008e 90%,
      #350090 92%,
      #2a0099 94%,
      #1400ad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef200', endColorstr='#1400ad', GradientType=0);
  /* IE6-9 */
}

.filters-area .filter-holder .filter-box[data-color="transparent"] .color-holder {
  border-width: 3px;
}

.filters-area .filter-holder .color-holder {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background: transparent;
  margin: 0 auto 20px;
  border: 1px solid #d8dad9;
  position: relative;
}

.filters-area .filter-list .filter-box {
  width: 154px;
  height: 154px;
  cursor: pointer;
  border: 1px solid #8c8c8c;
  text-align: center;
  display: table;
  padding: 20px;
  transition: 0.2s ease-in all;
}

.filters-area .filter-list .filter-box .box-holder {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.filters-area .filter-list .filter-box .box-frame {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.filters-area .filter-list .filter-box h3 {
  margin: 0;
  color: #333;
  font: 18px/22px "Helvetica Regular", Arial, sans-serif;
}

.filters-area .filter-holder.gender .img-holder {
  margin: 0;
}

.filters-area .filter-list .img-holder {
  min-height: 36px;
  margin: 10px 0 24px;
}

.filters-area .filter-list img {
  max-width: 100%;
}

.filters-area .filter-list input[type="checkbox"] {
  display: none;
}

#footer {
  background: #333;
  padding: 42px 60px;
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer .btn-back {
  display: inline-block;
  vertical-align: top;
  background: url("../../images/icon-back.png") no-repeat 0 50%;
  line-height: 56px;
  font-size: 24px;
  color: #c7c7c7;
  padding: 0 0 0 45px;
}

.ditto-holder {
  display: none;
  padding: 0 90px;
}

.capture-form {
  max-width: 600px;
  margin: 0 auto;
}

.login-form {
  max-width: 612px;
  margin: 68px auto;
  border: 1px solid #ccc;
  padding: 55px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.login-form h2 {
  font-size: 48px;
  font-family: 'Helvetica Bd';
  line-height: 52px;
  color: #000;
  margin: 0 0 60px;
}

.v-space {
  margin: 100px 0 0;
}

.capture-form .field {
  padding-bottom: 22px;
  position: relative;
}

.login-form .field {
  padding-bottom: 26px;
  position: relative;
}

.login-form .field>label {
  font-size: 24px;
  line-height: 28px;
  font-family: 'Helvetica Bd';
  margin: 0 0 6px;
  display: block;
  color: #000;
}

.login-form .field>label span {
  color: #c00;
}

.login-form .btn {
  display: block;
  padding: 28px 60px;
  margin: 30px 0 0;
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form input[type="password"],
.capture-form input[type="email"],
.capture-form input[type="text"] {
  height: 86px;
  border-color: #ccc;
  border-radius: 5px;
  font-size: 24px;
  line-height: 36px;
  padding: 0 30px;
  margin: 0;
}

.login-form input[type="email"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.capture-form input[type="email"]:focus,
.capture-form input[type="text"]:focus {
  border-color: #000 !important;
  background: #fff !important;
  border-width: 1px !important;
}

.login-form .checkbox {
  position: relative;
  margin: 0;
}

.capture-form .checkbox {
  position: relative;
  margin: 10px 0 0;
}

.login-form .checkbox input[type="checkbox"],
.capture-form .checkbox input[type="checkbox"] {
  display: none;
}

.login-form .checkbox label::after,
.capture-form .checkbox label::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border: 1px solid #999;
  content: '';
}

.capture-form .checkbox #consent+label>span {
  font-size: 14px;
}

.login-form .checkbox label,
.capture-form .checkbox label {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  display: block;
  position: relative;
  cursor: pointer;
}

.login-form .checkbox label>span,
.capture-form .checkbox label>span {
  display: block;
  position: relative;
  padding: 0 0 0 63px;
  font-size: 16px;
  color: #333;
}

.login-form .checkbox label>span {
  line-height: 50px;
}

.login-form .checkbox label>span .star,
.capture-form .checkbox label>span .star {
  color: #c00;
}

.login-form .checkbox input[type="checkbox"]:checked+label>span:after,
.login-form .checkbox input[type="checkbox"]:checked+label>span:before,
.capture-form .checkbox input[type="checkbox"]:checked+label>span:after,
.capture-form .checkbox input[type="checkbox"]:checked+label>span:before {
  opacity: 1;
  visibility: visible;
}

.login-form .checkbox label>span:after,
.capture-form .checkbox label>span:after {
  position: absolute;
  content: '';
  left: 20px;
  top: 23px;
  width: 4px;
  height: 12px;
  background: #999;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in all;
  z-index: 999;
}

.login-form .checkbox label>span:before,
.capture-form .checkbox label>span:before {
  position: absolute;
  content: '';
  left: 35px;
  top: 16px;
  width: 4px;
  height: 24px;
  background: #999;
  transform: rotate(45deg);
  transform-origin: 0 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in all;
  z-index: 999;
}

.login-form .checkbox label a,
.capture-form .checkbox label a {
  font-family: 'Helvetica Bd', Arial, sans-serif;
  text-decoration: underline;
}

.login-form .error input[type="text"],
.login-form .error input[type="password"],
.capture-form .error input[type="text"],
.capture-form .error input[type="email"] {
  background: #f8e6e4;
  border-color: #c00;
  border-width: 2px;
}

.login-form .error .checkbox label:after,
.capture-form .error .checkbox label:after {
  background: #f8e6e4;
  border-color: #c00;
  border-width: 2px;
}

.login-form .field .err-txt,
.capture-form .field .err-txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  color: #c00;
}

.login-form .field .err-txt {
  bottom: 2px !important;
}

.capture-form .field.col-half .err-txt {
  padding: 0 8px;
}

.login-form .error .err-txt,
.capture-form .error .err-txt {
  display: block;
}

.capture-form .or {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding: 24px 0;
}

.capture-form a.btn {
  padding: 27px 30px;
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.capture-form a.btn.btn-primary.disabled {
  background: #ccc;
  color: #767676;
}

.capture-form a.btn.btn-secondary.disabled {
  border-color: #767676;
  color: #ccc;
}

.capture-form a.btn.disabled {
  pointer-events: none;
  cursor: no-drop;
}

.logo-transparent {
  text-align: center;
  padding: 476px 0 0;
}

#create {
  /* width: 640px; */
  height: 600px;
  /* margin: 0 auto; */
}

#ditto {
  /* Size of the viewer can be changed. */
  overflow: hidden;
  width: 100%;
  height: 600px;
  display: none;
}

#pop-tryon {
  overflow: hidden;
  /* width: 100%; */
  width: 798px;
  margin: 0 auto;
  height: 600px;
  border: 1px solid #ccc;
}

/*================================================ Muneeb =================================================*/
.lang-sw {
  float: right;
}

.lang-sw a {
  width: 131px;
  height: 58px;
  display: inline-block;
  text-align: center;
  line-height: 58px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 16px;
  color: #333333;
  font-family: 'Helvetica Bd';
  transition: all ease-in 0.2s;
}

#footer .lang-sw a {
  color: #d2d2d2;
  border-color: #cbcbcb;
}

.lang-sw a:hover,
.lang-sw a:focus,
#footer .lang-sw a:hover,
#footer .lang-sw a:focus {
  border-color: #c00;
  color: #c00;
}

.col-wrap {
  margin: 0 -8px;
  overflow: hidden;
}

.col-half {
  float: left;
  width: 50%;
  padding: 0 8px;
}

.v-spacer {
  display: block;
  height: 60px;
}

.title-area.thanks h1 {
  font-size: 64px;
  line-height: 68px;
  margin: 0 0 25px;
  color: #c00;
}

.title-area.thanks .sub-title {
  font-size: 24px;
  line-height: 36px;
}

.title-area.thanks {
  margin: 0 0 80px;
}

.title-area.thanks.ph {
  margin: 150px 0;
}

.thanks-wrap {
  margin: 0 60px;
  background: #fff;
  padding: 100px 50px 140px;
  border-radius: 10px;
}

.img-box {
  text-align: center;
}

.img-box h2 {
  color: #000000;
  font-size: 32px;
  margin: 25px 0;
}

.img-box p {
  color: #cc0000;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.plus-sep {
  text-align: center;
  margin: 50px 0;
}

.reset-timer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px;
  text-align: center;
}

a.reset {
  width: 100%;
  display: block;
  height: 167px;
  line-height: 167px;
  background: #cc0000;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

a.reset:hover {
  border-color: #a50000;
  background-color: #a50000;
}

#countdown {
  position: relative;
  margin: auto;
  margin: 25px auto 40px;
  height: 110px;
  width: 110px;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 100px;
  height: 110px;
  width: 110px;
  text-align: center;
  border: 6px solid #bdbdbd;
  border-radius: 100%;
  font-size: 30px;
  color: #333333;
  position: relative;
}

#countdown-number:after {
  display: inline-block;
  vertical-align: baseline;
  content: ' s';
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 0 1px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 110px;
  transform: rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 345.58px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #e57373;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 345.58px;
  }
}

/*==========================================================================================================*/

/* Rules both for mobiles and tablets. */
@media only screen and (max-width: 1024px) {
  .ditto-mobile-api #creation {
    display: none;
  }
}

/* Rules for mobile devices except tablets. */
@media only screen and (max-width: 600px) {

  /* Make the Try On take the full screen on mobile. */
  .ditto-mobile-api #ditto {
    width: 100%;
    height: auto;
  }
}

@media only screen and (orientation: portrait) and (max-width: 600px) {
  .ditto-mobile-api #ditto iframe {
    /*
     * On iPhone 6 the width of the recorded video is 360px, while the width
     * of the screen is 375px. To avoid the small gap, we zoom the iframe by 5%,
     * so it becomes 672x504 instead of 640x480.
     *
     * Corresponding margin value (- @width / 2) and left help to center the
     * iframe within the parent object.
     *
     * If 504px height is too big, you can crop it by setting the height on
     * parent element (e.g. 450px) to make it smaller, and negative top on
     * this element (e.g. -27px) to crop it in the center. Cropping too much may
     * not look nice though.
     */
    position: relative;
    left: 50%;
    width: 672px;
    height: 504px;
    margin-left: -336px;
  }
}

/* Keyboard */
body.keyboard-loaded #wrapper:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 9999;
  background: rgba(242, 242, 242, 0.9);
}

.ui-keyboard {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1080px;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  padding: 120px 0 78px;
  /* height: 100%; */
}

/* .ui-keyboard * {
  position: relative;
  z-index: 999;
} */
.ui-keyboard .ui-keyboard-keyset {
  padding: 30px 0 0;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button {
  width: 70px;
  height: 64px;
  background: #f2f2f2;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  font-size: 24px;
  font-family: 'Helvetica Regular';
  color: #333;
  margin: 6px;
  display: inline-block;
  vertical-align: top;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-bksp {
  width: 144px;
  background: #e3e3e3;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-shift {
  background: #ccc;
  color: #fff;
  width: 106px;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-shift.ui-state-active {
  background: #767676;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-space {
  width: 645px;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-accept {
  background: #c00;
  color: #fff;
  border-color: #c00;
  width: 148px;
  height: 72px;
  font-family: 'Helvetica Bd';
  position: absolute;
  top: 114px;
  right: 210px;
}

.ui-keyboard .ui-keyboard-keyset .ui-keyboard-button.ui-keyboard-cancel {
  background: url('../../images/icon-close.png') no-repeat 100% 50%;
  background-size: 32px 32px;
  width: auto;
  height: auto;
  padding: 0 46px 0 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 36px;
  top: 20px;
}

.ui-keyboard .ui-keyboard-preview-wrapper {
  padding: 0 163px 0 0;
}

.ui-keyboard .ui-keyboard-preview {
  width: 483px;
  height: 72px;
  border-color: #000;
  border-radius: 5px;
  font-size: 24px;
  padding: 0 20px;
}

/* Rules for iPhone-like devices in landscape mode. */
@media only screen and (orientation: landscape) and (max-width: 600px) {
  .ditto-mobile-api #ditto {
    height: 280px;
  }

  .ditto-mobile-api #ditto iframe {
    margin-top: -7%;
    height: 480px;
  }
}